<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>

    <style>
    body {
    background-image: url("/tomatillo-pic.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

    }
    </style>

</head>
<body>
<div style="text-align: center">
    <h1 class="display-3" style="color:gold;">Salsa Snob</h1>
    <h2 style="color:gold;">We make salsa for the snobbiest of salsa lovers.</h2>
    <h2 style="color:gold;">We use fresh locally grown products where ever available. We love salsa and we hope you will appreciate our product as much as we do.</h2>
</div>

<div style="text-align: center">
    <iframe src="https://giphy.com/embed/Ti1asSVoIgtPNmeERH" width="480" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/dance-salsa-Ti1asSVoIgtPNmeERH">via GIPHY</a></p>
</div>

<div style="text-align: center">
    <iframe src="https://giphy.com/embed/HOHc63ryfAyI" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/the-simpsons-eating-homer-simpson-HOHc63ryfAyI">via GIPHY</a></p>
</div>

</body>
</html>